*.iml
.gradle
buildsrc/build/
/local.properties
/.idea/inspectionProfiles
/.idea/caches
/.idea/libraries
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/buildSrc/local.properties
/.idea/jarRepositories.xml
/.idea/compiler.xml
